/*Class to help us visualize the grid*/
.boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}
.hidden {
	display: none;
}
#main-menu li
{
	display: block;
}
#footerCon, #wowFacts
{
	background-color: #666;

}
