@charset "UTF-8";










p
{
	color: black;
	font-size: 2.3em;
}




body
{
	background-color: #E3E3E3;
	font-family: 'Oswald', sans-serif;
}

h1
{
	text-align: center;
	color: White;
	font-size: 2.2em;
}

h2
{
	text-align: center;
	color: White;
	font-size: 2em;
}

h3
{
	padding-top: 10px;
	clear: both;
	color: White;
	font-size: 1.3em;
	text-decoration: underline;
}

#header
{
	background-color: #AAD9FB;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;


}

.chart div {
  font: 14px sans-serif;
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 10px;
  color: black;
}

.chart
{
	margin-bottom: 40px;
}



#piechart, #donutchart, #piechart_3d, #curve_chart
{
	float: left;
	padding: 5px;
}

#testContainer
{
	clear: both;
	padding-top: 100px;
	padding-left: 100px;
}

#chart
{
	margin-top: 30px;
	float: left;
}





#dashboard
{
	background-color: #E4E4E4;
	width: 1600px;
	margin-left: 4px;
	float: left; 
	margin-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
}


path:hover {  opacity:0.9; }
/*rect:hover {  fill: grey ; } */
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}











li
{

	color: white;
	margin-top: 30px;
	list-style: none;
	border-bottom: 1px solid white;
	padding-bottom: 30px;
	padding-left: 40px;
}

li:hover
{
	cursor: pointer;
	color: #0034FF;
}

.navArea
{
	
	padding-top: 13px;
	background-color: #3FA1E8;
	height: 308px;
	width: 150px;
	float: left;
}



.infoBox
{
	
	background-color: white;
	height: 301px; 
	float: left;
	margin: 20px;
}

.individualArea
{

	height: 100px;
	width: 50px;
	margin: 5px;
	float: left;
	padding: 30px;
	margin-top: 30px;
}

.individualArea:hover
{
	cursor: pointer;
}


.individualArea p
{
	text-align: center;
}

.individualArea img
{
	margin-left: 10px;
	margin-top: 10px;
}

#totalPageViewsText
{
	margin-top: 30px;
	margin-bottom: 15px;
}

#totalArea
{
	margin-top: 40px;
	text-align: center;
}

#socialMedia
{
	float: left;
}

#socialMediaRight
{
	float: left;
	background-color: #F5F5F5;
}

#socialMediaRight p
{

	font-size: 1.3em;
	text-align: center;
	margin-top: 10px;
}

.SocialMediaStatSec
{
	padding-top: 20px;
	box-shadow: 0px 1px 0px #888888;
	padding-bottom: 20px;
	padding-left: 10px; 
	padding-right: 10px; 
}



.prev
{
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 5px;
}







#totalViewsSection
{
	margin-top: 20px;
	float: left;
	padding: 40px;
	background-color: #F5F5F5;
	height: 220px;
}

#totalViewsSection p
{
	margin-top: 60px;
	text-align: center;
}



#page_views_curve_chart
{
	
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}


#gender_piechart_3d
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#bottomSection
{
	clear: both;
	float: left;
}

#bounce_donutchart
{
	float: left;
	margin-left: 20px;
}

#metrics
{
	float: left;
	margin-left: 170px;
}

.metricsSection
{
	width: 140px;
	height: 130px;
	background-color: #F5F5F5;
	float: left;
	padding: 10px;
	padding-bottom: 30px;
	margin-top: 30px;
}

.metricsSection:nth-child(2)
{

	background-color: #AAD9FB;
}

.metricsSection h2
{

	color: black;
	font-size: 1.7em
}



#entrancesNum, #newSesNum, #sesNum
{

	text-align: center;
	color: green;
	font-size: 1.6em;
	margin-top: 10px;
}

.prevNum
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
}


